/* ===== CENTER PAGE ===== */
.page-center {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e6e6e6;
}

/* ===== CARD ===== */
.card-container {
  width: 420px;
  height: 650px;
  background: #f2f2f2;
  position: relative;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

/* ===== TOP HEADER ===== */
.top-header {
  width: 100%;
  height: 250px;
  background: #0e6f8f;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
  display: flex;
  align-items: center;
  padding: 20px;
  position: relative;
}

.logo {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: white;
  padding: 5px;
}

.title {
  margin-left: 20px;
}

.trust {
  font-size: 42px;
  color: black;
  -webkit-text-stroke: 2px white;
  margin: 0;
}

.south {
  color: red;
  font-weight: bold;
  font-size: 28px;
}

.sudan {
  color: green;
  font-weight: bold;
  font-size: 28px;
}

/* ===== LEFT SIDEBAR ===== */
.left-bar {
  position: absolute;
  top: 210px;
  left: 0;
  width: 70px;
  height: 350px;
  background: #0e6f8f;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
  gap: 38px;
  z-index: 2;
}

/* ===== SIDEBAR ICONS ===== */
.sidebar-icon {
  width: 40px;
  height: 40px;
  background: black;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  
}

/* ===== CONTENT ===== */
.content {
  position: absolute;
  top: 280px;
  left: 100px;
  right: 20px;
}

.info {
  margin-bottom: 42px;
}

.info p {
  margin: 4px 0;
  font-size: 16px;
}

/* ===== GREEN TOP LEFT SHAPE ===== */
.green-left-top {
  position: absolute;
  top: 200px;
  left: -60px;
  width: 140px;
  height: 140px;
  background: #59b548;
  border-radius: 100px;
  z-index: 1;
}

/* ===== GREEN BOTTOM LEFT SHAPE ===== */
.green-left-bottom {
  position: absolute;
  bottom: 60px;
  left: -60px;
  width: 150px;
  height: 90px;
  background: #59b548;
  border-radius: 100px;
  z-index: 1;
}


.green-diagonal {
  position: absolute;
  bottom: -60px;
  right: -40px;
  width: 380px;
  height: 120px;
  background: #59b548;
  transform: rotate(-12deg);
}

/* ===== BOTTOM BLACK LINE ===== */
.bottom-black-line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
  background: black;
}
