.id-card {
  width: 470px;
  min-height: 780px;   /* allow card to grow */
  background: #efefef;
  border-radius: 0px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  margin: 20px auto;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.25);
  padding-bottom: 50px; /* space for bottom */
}

/* ================= TOP SECTION ================= */

.top-section {
  background: #156f8f;
  height: 250px;
  border-bottom-left-radius: 400px;
  border-bottom-right-radius: 400px;
  position: relative;
}

.logo-title {
  display: flex;
  align-items: center;
  padding: 30px;
  gap: 20px;
}

.logo {
  width: 95px;
  height: 95px;
  object-fit: contain;
  border-radius: 50%;
}

.org-name {
  font-size: 32px;
  font-weight: 900;
  letter-spacing: 1px;
  color: black;
}

.south {
  color: red;
}

.sudan {
  color: #49a942;
}

/* ================= PROFILE ================= */

.profile-container {
  display: flex;
  justify-content: center;
  margin-top: -100px;
  position: relative;
  z-index: 2;
}

.profile-img {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  border: 8px solid #efefef;
  object-fit: cover;
  gap: 20px;
}

/* ================= NAME ================= */

.name {
  text-align: center;
  font-size: 30px;
  font-weight: 900;
  margin-top: 15px;
}

/* ================= POSITION ================= */

.position {
  width: 75%;
  margin: 15px auto;
  background: #156f8f;
  color: black;
  font-weight: 900;
  padding: 10px 0;
  font-size: 22px;
  text-align: center;
}

/* ================= DETAILS ================= */

.details {
  padding: 0 35px;
  font-size: 20px;   /* reduced so all text fits */
  line-height: 1.6;
  margin-top: 10px;
}

.details p {
  margin: 6px 0;
  font-weight: 500;
}

/* ================= BOTTOM GREEN SECTION ================= */

.bottom-section {
  width: 100%;
  height: 140px;
  background: #57b847;
  clip-path: polygon(0 60%, 100% 35%, 100% 100%, 0% 100%);
  margin-top: 40px;
}

/* ================= BLACK STRIP ================= */

.bottom-black {
  width: 100%;
  height: 30px;
  background: black;
}
