/* ================= CARD ================= */

.card {
  width: 420px;
  min-height: 720px;
  background: #ffffffff;
  margin: 30px auto;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: column;
}

/* ================= TOP SECTION ================= */

.top-curve {
  background: #177a96;
  height: 170px;
  border-bottom-left-radius: 100% 80px;
  border-bottom-right-radius: 100% 80px;
  text-align: center;
  position: relative;
  padding-top: 20px;
}

.logo {
  width: 95px;
  position: absolute;
  left: 20px;
  top: 20px;
  border-radius: 50%;
}

.title {
  margin-top: 55px;
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 1px;
}

.red {
  color: red;
}

.green {
  color: #4caf50;
}

/* ================= CONTENT ================= */

.content {
  padding: 20px 30px 40px 30px;
  text-align: center;
  font-size: 15px;
  line-height: 1.7;
  color: #222;
  flex: 1;
}

.description {
  margin-bottom: 18px;
}

.info {
  margin-top: 15px;
  text-align: left;
  font-size: 15px;
}

.info p {
  margin: 6px 0;
}

.mtn {
  margin-left: 50px;
}

.dates {
  margin-top: 25px;
  color: #1e6c8c;
  font-size: 17px;
  font-weight: 800;
}

/* ================= BOTTOM SECTION ================= */

.bottom-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 50px;
}

/* Left text block */
.ceo-left {
  text-align: center;
  font-size: 12px;
  color: #1e6c8c;
  font-weight: 800;
  line-height: 1.4;
}

.office-title {
  margin-bottom: 4px;
}

/* Signature area */
.signature-area {
  margin-top: 25px;
  text-align: left;
}

.ceo-label {
  font-weight: 900;
  font-size: 16px;
  color: black;
  margin-bottom: 6px;
}

.signature-img {
  width: 150px;
  display: block;
  margin-bottom: 4px;
}

.sign-line {
  width: 160px;
  height: 2px;
}

/* Stamp Logo */
.ceo-right {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.stamp-logo {
 margin-top: 30px;
  width: 130px;
  height: 130px;
  object-fit: contain;
}

/* ================= GREEN SHAPE ================= */

.bottom-shape {
  width: 100%;
  height: 120px;
  background: #4caf50;
  clip-path: polygon(0 60%, 100% 0%, 100% 100%, 0% 100%);
}
